<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Application</title>
</head>
<body>
     <header>
         <div>
             <h1>BANKING APPLICATION</h1>
         </div>
     </header>
     <div>
         <h4>Login</h4>
     </div>
     <div>
         <form method="post">
             <label for="user">UserName:</label>
             <input type="text" name="user" />
             <br>
             <label for="passwd">Password:</label>
             <input type="password" name="passwd" />
             <br>
             <br>
             <button>login</button>
         </form>
     </div>
     <div>
         <br>
         <button><a href="./signup">SignUp</a></button>
     </div>
</body>
</html>